# autoreconf stuff
aclocal.m4
autom4te.cache/
autotools/
config.log
config.status
configure
libtool
Makefile
Makefile.in
m4/libtool.m4
m4/lt*.m4

# build stuff
*.o
*.la
*.lo
*.log
*.trs
.tags
.tags1
.libs/
src/.deps

# test stuff
src/pamEncTest*

# packaging stuff
debian/autoreconf.*
debian/.debhelper
debian/files
debian/tmp/
debian/pam-cryptsetup/
debian/pam-cryptsetup.substvars
