Source: pam-cryptsetup
Maintainer: Warren Whitman <warrenpw@google.com>
Section: admin
Priority: optional
Standards-Version: 4.2.0
Build-Depends: debhelper (>= 9), autotools-dev, libglib2.0-dev,
  libcryptsetup-dev, libdevmapper-dev, libpam0g-dev, automake,
  libtool, autogen, dh-autoreconf
Homepage: https://github.com/google/pam-cryptsetup

Package: libpam-cryptsetup
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, pam-cryptsetup-tools
Vcs-Browser: https://github.com/google/pam-cryptsetup
Vcs-Git: https://github.com/google/pam-cryptsetup
Description: PAM module for updating LUKS-encrypted volumes
 Provides a method to allow PAM to update a LUKS-encrypted volume when a
 user authenticates to the system

Package: pam-cryptsetup-tools
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Vcs-Browser: https://github.com/google/pam-cryptsetup
Vcs-Git: https://github.com/google/pam-cryptsetup
Description: Support binaries for libpam-cryptsetup
 Provides binaries required by libpam-cryptsetup to properly function
